.main-box {
  outline: auto;
  padding: 20px;
}
/* Input data */
#input-data {
  border-style: inset;
  width: 50%;
}
#recalc-btn {
  outline: auto;
}
/* Result */
#math-container,
#eval-container {
  padding: 20px;
}
/* Details */
.details-box {
  padding: 20px;
}
#details-table {
  border-collapse: collapse;
}
#details-table th {
  background-color: gray;
}
#details-table td {
  border-right: 1px solid black;
  padding: 8px;
}
#details-table td:last-child {
  border-right: none;
}
/* These selectors must match the JavaScript code */
.poly-raw {
  display: block;
}
.poly-simplify {
  display: none;
}
.poly-factor {
  display: none;
}
/* Python output box */
#py-box {
  border-style: outset;
  padding: 10px;
  max-height: 400px;
  overflow: auto;
  font-family: monospace;
  white-space: pre;
}
.stderr {
  color: red;
}
